<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send Invitation Email - Healmefit</title>
</head>
<body>
    <p>Dear user,</p>
    <p>To send Invitation email, click on this link:</p>
    <a target="_blank" href="{{resetPasswordUrl}}">Click here to reset your password</a>
    <p>Optional Text : {{text}}</p>
    <p>If you did not request any password resets, then ignore this email.</p>
</body>
</html>